

.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    height: 50vh;
    border-radius: 5px;
    background: linear-gradient(35deg, white, slateblue 90%);
    box-shadow: 0 3px 3px 3px black;
    width: 80vw;
}

.form-wrapper button {
    margin-left: 5em;
    padding: 0.35em;
}
#upload-icon {
    font-size: 15rem;
    position: absolute;
    color: snow;
}
label {
    /* background-color: green; */
}
#fileInput {
    width: 100%;
    height: 100%;
    color: transparent;
    bottom: 0;
}

input[type='text'] {
    padding: 0.5em;
}

input::-webkit-file-upload-button {
    background: linear-gradient(25deg, white, silver);
    height: 8vh;
    width: 15vw;
    position: relative;
    top: 80%;
    left: 40%;
    border-radius: 50px;
}