* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App, main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

}
main {
  width: 80vw;
}

.App {
  min-height: 100vh;
  padding: 2em 1.5em;
  align-items: center;
  justify-content: center;
  background-color: white;
}
