.card-wrapper,.submission-container, .header, .body, .footer {
    display: flex;
}

.submissions-container, .card-wrapper, .header, .body, .footer {
    justify-content: center;
}

.header, .body,  footer {
    width: 100%;
}

.header, .footer {
    background-color: slateblue;

}

.card-wrapper, .footer {
    flex-direction: column;
}

.submission-container {
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    /* height: 50vh; */
}



.card-wrapper {
    height: 100%;
    flex: 1 1 15em;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 2px 2px black;
    color: white;   
}

.header {
    padding: 1em 0;
    height: 15%;
}

.body {
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    background-color: white;
}

.footer {
    height: 35%;
    row-gap: 1em;
    padding: 1em;
}

.fileIcon {
    color: steelblue;
    width: 100%;
}

@media screen and (max-width: 750px) {
    .card-wrapper {
        flex: 1 1 100%;
        max-width: 100%
    }

}